{% extends "base.html" %} {% block head %} {% endblock %} {%block body%}
<div class="login">
  <div class="login_header">
    <h1 class="login_header_text">Please Select Your Role Below:</h1>
  </div>
  <div class="login_content">
    <div class="login_content_row">
      <a class="login_content_button">Administration Manager</a>
      <a class="login_content_button">Production Manager</a>
      <a class="login_content_button">Service Manager</a>
    </div>
    <div class="login_content_row">
      <a class="login_content_button">Financial Manager</a>
      <a class="login_content_button">Senior Customer Service Officer</a>
      <a class="login_content_button" href="{{url_for('customerServiceHome')}}"
        >Customer Service Team</a
      >
    </div>
    <div class="login_content_row">
      <a class="login_content_button">Production Team</a>
      <a class="login_content_button">Service Team</a>
      <a class="login_content_button">HR Team</a>
    </div>
  </div>
</div>
{%endblock%}
